.game {
  align-items: center;
  background-color: #2f2f2f;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 15px;
  transition: border 0.3s ease-in-out, filter 0.3s ease-in-out, padding-bottom 0.3s ease-in-out 1s;

  // &:hover {
  //   border: 2px solid whitesmoke;
  //   filter: contrast(1.5);
  // }

  .text {
    background: rgba(47, 47, 47, 0.5);
    flex: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 0 5px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .rank {
      color: #a3a3a3;
      display: inline-block;
      opacity: 0.8;
      min-width: 40px;
    }

    .name {
      &.recent {
        color: #aef49e;
      }

      &.completed {
        color: #a3daed;
      }
    }
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      border: 1px solid whitesmoke;
      border-radius: 5px;
      height: 60px;
      width: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  .game {
    padding: 3px;

    .text {
      font-size: 1.3em;
      margin: 0;

      .rank {
        min-width: 25px;
        width: 25px;
      }
    }

    .iconContainer {
      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
