.game {
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 15px;
  transition: 0.3s border ease;

  .text {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .rank {
      display: inline-block;
      opacity: 0.4;
      width: 50px;
    }
  }

  .iconContainer {
    display: flex;
    justify-content: center;

    img {
      border-radius: 5px;
      width: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  .game {
    padding: 5px;

    .text {
      font-size: 1.3em;
      margin: 0 5px;

      .rank {
        width: 25px;
      }
    }

    .iconContainer {
      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
