.steam {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;

  .headerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      font-family: 'Pacifico', sans-serif;
      font-size: 2.5em;
      margin: 15px;
    }

    .legend {
      display: flex;

      .color {
        background: #ffdf80;
        height: 20px;
        margin-right: 8px;
        width: 20px;
      }
    }
  }

  h3 {
    color: orange;
    margin: 50px 15px;
  }
}

@media screen and (max-width: 600px) {
  .steam {
    padding: 10px;

    h1 {
      font-size: 6vw;
    }
  }
}
